<%= render 'shared/election_head' %>
<content class="election-banner"></content>
<electionholder id="top">
	<content class="blogbody">
		<h2 class="title">Welcome to the GalenOnline ElectionHQ</h2>
		<p class="election-text">This is the central place for everything you need to keep up-to-date on how the 2016 Presidential Primaries are playing out.</p>
		<p class="election-text">This is not a news or analysis site.  I've tried my best to limit the content here to objective, unbiased information.  We all have our preferences and biases, I've got mine, and they are kinda weird.  Suffice it to say if you think I support your guy or one of his/her opponents, you're probably wrong.  If you're for some reason curious about my point of view, <a href="mailto:galen.w.burghardt@gmail.com">send me an email</a> and I'd be more than happy to gab your ear off about <a href="https://en.wikipedia.org/wiki/Philosophical_anarchism">philosophical anarchism</a>, <a href="http://www.iep.utm.edu/polreal/">the horrors of political realism</a>, and anything else, but I generally don't volunteer that stuff because nobody likes unsolicited preaching.</p>
		<p class="election-text">I had two main motives behind making this site.  First, I'm a fairly green web developer, and this seemed like a good project to gain some experience.  Second, while I'm not a serious participant in our elections (again, long story, email me if you want to talk about it) I'm an avid spectator - while there are a few quality analysts out there, most "analysis" is really just advocacy, and I wanted to make a place where the really basic facts were available and easy to get to.</p>
		<third class="inside-menu"><%= link_to "Candidates", "#candidates", class: "in-menu" %></third>
		<third class="inside-menu"><%= link_to "Upcoming Elections", "#upcoming", class: "in-menu" %></third>
		<third class="inside-menu"><%= link_to "Election Results", "#results", class: "in-menu" %></third>
	</content>
</electionholder>
<electionholder class="america-one" id="candidates">
	<h2 class="title">Candidates</h2>
	<rsplit class="blogbody">
		<table class="election-text" style="border: none; border-collapse: collapse;">
			<caption>Democrats</caption>
			<thead>
				<tr>
					<th colspan="2" style="padding-right: 0;"></th>
					<th>Total Delegates</th>
					<th>Regular Delegates</th>
					<th>Superdelegates</th>
				</tr>
			</thead>
			<tbody>
				<% @dems.each do |c| %>
				<tr>
					<td style="padding-left: 0; padding-right: 0; padding-top: 0.3em; padding-bottom: 0.3em;"><%= image_tag c.profile.url(:thumb), style: "min-width: 5em;" %></td>
					<td><%= link_to c.full_name, c, style: "text-decoration: none;" %></td>
					<td><%= c.total %></td>
					<td><%= c.regulars %></td>
					<td><%= c.supers %></td>
				</tr>
				<% end %>
				<tr>
					<td colspan="5" class="small-meta"><%= "Last updated at #{@dem_updated}" %></td>
				</tr>
			</tbody>
		</table>
	</rsplit>
	<rsplit class="blogbody">
		<table class="election-text" style="border: none; border-collapse: collapse;">
			<caption>Republicans</caption>
			<thead>
				<tr>
					<th colspan="2" style="padding-right: 0;"></th>
					<th>Delegates</th>
				</tr>
			</thead>
			<tbody>
				<% @reps.each do |c| %>
				<tr>
					<td style="padding-left: 0; padding-right: 0; padding-top: 0.3em; padding-bottom: 0.3em;"><%= image_tag c.profile.url(:thumb), style: "min-width: 5em;" %></td>
					<td><%= link_to c.full_name, c, style: "text-decoration: none;" %></td>
					<td><%= c.total %></td>
				</tr>
				<% end %>
				<tr>
					<td colspan="5" class="small-meta"><%= "Last updated at #{@gop_updated}" %></td>
				</tr>
			</tbody>
		</table>
	</rsplit>
	<content><%= link_to "Back to top", "#top", class: "in-menu" %></content>
</electionholder>
<electionholder id="upcoming">
	<h2 class="title">Upcoming Elections</h2>
	<rsplit class="blogbody">
		<table class="election-text" style="border: none;">
			<caption>Democrats</caption>
			<tbody>
				<% @demstates.each do |s| %>
					<tr>
						<td><%= link_to s.name, s, style: "text-decoration: none;" %></td>
						<td><% if s.dem_date.present? %><%= s.dem_date.strftime("%m-%d-%y") %><% end %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</rsplit>
	<rsplit class="blogbody">
		<br>
		<table class="election-text" style="border: none;">
			<caption>Republicans</caption>
			<tbody>
				<% @repstates.each do |s| %>
					<tr>
						<td><%= link_to s.name, s, style: "text-decoration: none;" %></td>
						<td><%= s.gop_date.strftime("%m-%d-%y") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</rsplit>
	<content><%= link_to "Back to top", "#top", class: "in-menu" %></content>
</electionholder>
<electionholder class="america-two" id="results">
	<h2 class="title">Election Results</h2>
	<rsplit class="blogbody">
		<electionholder class="electionhead">Democrats</electionholder>
		<% @dem_elections.each do |k, v| %>
		<table class="election-text" style="border: none;">
			<caption><%= "#{State.find_by(id: k[0]).name} #{State.find_by(id: k[0]).p_or_c}" %></caption>
			<thead>
				<tr>
					<th>Candidate</th>
					<th>Total Delegates</th>
					<th>Percent</th>
					<th>Regular Delegates</th>
					<th>Super Delegates</th>
				</tr>
			</thead>
			<tbody>
				<% v.each do |e| %>
				<tr>
					<td><%= Candidate.find_by(id: e.candidate_id).full_name %></td>
					<td><%= e.regs + e.supers %></td>
					<td><%= e.percent %></td>
					<td><%= e.regs %></td>
					<td><%= e.supers %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</rsplit>
	<rsplit class="blogbody">
		<electionholder class="electionhead">Republicans</electionholder>
		<% @gop_elections.each do |k, v| %>
		<table class="election-text" style="border: none;">
			<caption><%= "#{State.find_by(id: k[0]).name} #{State.find_by(id: k[0]).p_or_c}" %></caption>
			<thead>
				<tr>
					<th>Candidate</th>
					<th>Percent</th>
					<th>Delegates</th>
				</tr>
			</thead>
			<tbody>
				<% v.each do |e| %>
				<tr>
					<td><%= Candidate.find_by(id: e.candidate_id).full_name %></td>
					<td><%= e.percent %></td>
					<td><%= e.regs %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</rsplit>
	<content><%= link_to "Back to top", "#top", class: "in-menu" %></content>
</electionholder>