<%= render 'shared/topmenu' %>
<secthead>
	Users Index
</secthead>
<br>
<main>
	<table>
	    <thead>
	      <tr>
	        <th>Email</th>
	        <th>Role</th>
	        <th>Description</th>
	        <th colspan="3"></th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @users.each do |user| %>
	        <tr>
	          <td><%= user.email %></td>
	          <% if user.role.nil? %>
	        	  <td>None</td>
		      	  <td>None</td>
		      <% else %>
		          <td><%= user.role.name %></td>
		          <td><%= user.role.description %></td>
		      <% end %>
	          <td><%= link_to 'Show', user %></td>
	          <td><%= link_to 'Edit', edit_users_path(user) %></td>
	          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </tr>
	      <% end %>
	    </tbody>
	</table>
</main>