<h2><%= @user.email %></h2>
<main>
	<line><key>Created At:</key>  <val><%= @user.created_at %></val></line>
	<line><key>Updated At:</key>  <val><%= @user.updated_at %></val></line>
	<line><key>Login Count:</key>  <val><%= @user.sign_in_count %></val></line>
	<% if @user.role.nil? %>
		<line><key>Role:</key>  <val>None</val></line>
		<line><key>Description:</key>  <val>None</val></line>
	<% else %>
		<line><key>Role:</key>  <val><%= @user.role.name %></val></line>
		<line><key>Description:</key>  <val><%= @user.role.description %></val></line>
	<% end %>
</main>
<hr>
<br>
<div class="row">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
