<% render 'code' %>
<%= render 'shared/election_head' %>
<bodysub class="altsub">
	<content>
		<subcontent class="outlined main election-box">
			<portal>
				<content>
					<title class="election-subhead">Primary Season Calendar</title>
					<table class="election-text" style="border: none;">
				    	<thead>
				      		<tr>
				        		<th>Name</th>
				        		<th>Date</th>
				        		<th>Party</th>
				        		<th>Type</th>
				      		</tr>
				    	</thead>

				    	<tbody>
				      		<% @cs.each do |s| %>
			      				<% @state = State.find_by(name: s[:name]) %>
			        			<tr>
			        				<td style="max-width: 25vw; overflow: auto;"><%= link_to s[:name], @state %></td>
			        				<td style="min-width: 5em;"><%= s[:date].strftime("%m-%d-%y") %></td>
			        				<td><%= s[:party] %></td>
			        				<td><%= s[:p_or_c] %></td>
			        			</tr>
			      			<% end %>
				    	</tbody>
					</table>
				</content>
			</portal>
		</subcontent>
	</content>
	<%= render 'shared/alerts' %>
</bodysub>