<main>
  <shade><%= @state.name %></shade>
  <article>
    <p><strong>Primary or Caucus:</strong> <%= @state.p_or_c %></p>
    <p><strong>Republican Date:</strong> <%= @state.gop_date %></p>
    <p><strong>Democratic Date:</strong> <%= @state.dem_date %></p>
  </article>
  <aside>
    <%= link_to (image_tag @state.map.url(:medium)), @state.map.url(:original) %>
  </aside>
</main>
<br>
<footer><%= link_to "Back", states_path, {style: "margin-right:8px"} %>  |  <%= link_to "Edit #{@state.name}", edit_state_path(@state), {style: "margin-left: 8px"} %></footer>
