<main>
  <shade><%= @state.name %></shade>
  <article>
  	<split data-equalizer="split">
  		<holder>
	    	<paside>
	    		<h4><%= "Democratic #{@state.p_or_c}" %></h4>
	    		<% if @state.dem_left == "Today" %>
	    			<blink>TODAY!!!</blink>
	    		<% elsif @state.dem_left == "Past" %>
	    			<p><h5>Results</h5></p>
	    			<% @grouped_elections.each do |k, v| %>
	    				<% if k[0] == @state.id and k[1] == 2 %>
	    					<% v.each do |e| %>
	    						<% if e.percent >= 5 %>
	    							<result><%= "#{Candidate.find_by(id: e.candidate_id).full_name}: #{e.percent}%  Delegates: #{e.regs}" %></result>
	    						<% end %>
	    					<% end %>
	    				<% end %>
	    			<% end %>
	    		<% else %>
	    			<%= "There are #{@state.dem_left} days until the #{@state.name} Democratic #{@state.p_or_c}" %>
	    		<% end %>
	    	</paside>
	    </holder>
    	<holder>
	    	<paside>
	    		<h4><%= "Republican #{@state.p_or_c}" %></h4>
	    		<% if @state.gop_left == "Today" %>
	    			<blink>TODAY!!!</blink>
	    		<% elsif @state.gop_left == "Past" %>
	    			<p><h5>Results</h5></p>
	    			<% @grouped_elections.each do |k, v| %>
	    				<% if k[0] == @state.id and k[1] == 1 %>
	    					<% v.each do |e| %>
	    						<% if e.percent >= 5 %>
	    							<result><%= "#{Candidate.find_by(id: e.candidate_id).full_name}: #{e.percent}%  Delegates: #{e.regs}" %></result>
	    						<% end %>
	    					<% end %>
	    				<% end %>
	    			<% end %>
	    		<% else %>
	    			<%= "There are #{@state.gop_left} days until the #{@state.name} Republican #{@state.p_or_c}" %>
	    		<% end %>
	    	</paside>
	    </holder>
    </split>
  </article>
  <aside>
  	<holder>
    <line><%= "Primary or Caucus: #{@state.p_or_c}" %></line>
    <line><%= "Republican Date: #{@state.formatted_gop_date}" %></line>
    <line><%= "Democratic Date: #{@state.formatted_dem_date}" %></line>
  </aside>
</main>
<next>
	<pollbox>
	    <p><h3>Recent Polls:</h3></p>
	    <polld>
	    <shade>Democratic:</shade>
	    	<polls>
	    		<% if @state.dem_polls[0] == "Message" %>
	    			<heads><%= @state.dem_polls[1] %></heads>
	    		<% else %>
			    	<% @state.dem_polls.each do |p| %>
				    	<polla>
				    		<heads><%= p[:Pollster] %></heads>
				    		<date><%= p[:"Start Date"].strftime("%m/%d/%y") %> - <%= p[:"End Date"].strftime("%m/%d/%y") %></date>
				    		<% p[:Results].each do |r| %>
				    			<value><%= r[0] %>: <%= r[1] %></value>
				    		<% end %>
				    	</polla>
			    	<% end %>
			    <% end %>
	    	</polls>
		</polld>
		<pollr>
			<shade>Republican:</shade>
	    	<polls>
	    		<% if @state.gop_polls[0] == "Message" %>
	    			<heads><%= @state.gop_polls[1] %></heads>
	    		<% else %>
			    	<% @state.gop_polls.each do |p| %>
				    	<polla>
				    		<heads><%= p[:Pollster] %></heads>
				    		<date><%= p[:"Start Date"].strftime("%m/%d/%y") %> - <%= p[:"End Date"].strftime("%m/%d/%y") %></date>
				    		<% p[:Results].each do |r| %>
				    			<value><%= r[0] %>: <%= r[1] %></value>
				    		<% end %>
				    	</polla>
			    	<% end %>
			    <% end %>
	    	</polls>
		</pollr>
	</pollbox>
</next>
<br>
<footer><%= link_to "Back", states_path, {style: "margin-right:8px"} %>  |  <%= link_to "Edit #{@state.name}", edit_state_path(@state), {style: "margin-left: 8px"} %></footer>
