<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to "Galen Online!", "/" %></li>
      <li class="show-for-medium"><a href="https://github.com/philhartmanonic/Galen_Online">Source Code</a></li>
      <li>
        <a href="#">Portfolio</a>
        <ul class="menu vertical">
          <li class="hide-for-medium"><a href="https://github.com/philhartmanonic/Galen_Online">Source Code</a></li>
          <li class="hide-for-medium"><%= link_to "Resume", resume_index_path %></li>
          <li class="hide-for-medium"><a href="https://github.com/philhartmanonic">Github</a></li>
          <li><%= link_to "Blog", posts_path %></li>
          <li><%= link_to "Presidential Primaries", states_path %></li>
          <li><a href="#">Social Tracking</a></li>
        </ul>
      </li>
      <li class="show-for-medium"><%= link_to "Resume", resume_index_path %></li>
      <li class="show-for-medium"><a href="https://github.com/philhartmanonic">Github</a></li>
      <li>
        <a href="#">Music</a>
        <ul class="menu vertical">
          <li><a href="http://teatsunami.bandcamp.com/">Tea Tsunami</a></li>
          <li><a href="https://www.reverbnation.com/galenwarnerburghardt">Solo</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right show-for-medium">
    <ul class="dropdown menu" data-dropdown-menu>
      <%= render 'shared/nav_links_for_auth' %>
    </ul>
  </div>
</div>