<landingcontainer>
	<div class="off-canvas-wrapper">
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
			<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
				<main class="logobox">
					<thing class="logo">
						<%= image_tag 'logo.png', align: 'center' %>
					</thing>
				</main>
				<thing class="logo">
					<portal class="landing-menu">
						<ul class="landing-list">
							<li><%= link_to "What's going on", welcome_about_path, class: "land-link" %></li>
							<li><a class="land-link" href="https://github.com/philhartmanonic/Galen_Online">Source code</a></li>
							<li><%= link_to "Primaries", electiondashboard_path, class: "land-link" %></li>
							<li><%= link_to "Blog", posts_blog_path, class: "land-link" %></li>
							<% a = rand(1..2) %>
							<% if a == 1 %>
								<li><%= link_to "Random app", electiondashboard_path, class: "land-link" %></li>
							<% elsif a == 2 %>
								<li><%= link_to "Random app", posts_blog_path, class: "land-link" %></li>
							<% end %>
						</ul>
					</ul>
				</thing>
			</div>
			<div class="off-canvas-content landing-main" data-off-canvas-content>
				<middle>
					<thing>
						<title class="landtitle">Welcome to Galen Online</title>
						<button type="button" class="button landbutton" data-toggle="offCanvas">See What's Inside</button>
					</thing>
				</middle>
			</div>
		</div>
	</div>
</landingcontainer>