<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @band.fb_id %>
</p>

<p>
  <strong>Fb name:</strong>
  <%= @band.fb_name %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @band.likes_count %>
</p>

<p>
  <strong>Ta count:</strong>
  <%= @band.ta_count %>
</p>

<p>
  <strong>Pic url:</strong>
  <%= @band.pic_url %>
</p>

<p>
  <strong>Follower count:</strong>
  <%= @band.follower_count %>
</p>

<p>
  <strong>Following count:</strong>
  <%= @band.following_count %>
</p>

<p>
  <strong>Tweets:</strong>
  <%= @band.tweets %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
