<content class="secthead">Log In</content>
<bodysub class="altsub">
  <content class="outlined basic">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <content class="field">
      <portal>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </portal>
    </content>

    <content class="field">
      <portal>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </portal>
    </content>

    <% if devise_mapping.rememberable? -%>
      <content class="field">
        <portal>
          <div class="basic">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </portal>
      </content>
    <% end -%>

    <content class="actions">
      <%= f.submit "Log in" %>
    </content>
    <content class="basic">
      <%= render "devise/shared/links" %>
    </content>
    <% end %>
  </content>
</bodysub>
