<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Author" %>
    <%= f.collection_select :user_id, @users.joins(:role).where(@role.name == ["Admin", "Blogger"]), :id, :username, include_blank: true, selected: current_user.try(:id) %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, message: "Write your post here", size: "24x40" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
