<content class="blogtitle">
	<content class="show-for-medium"><%= image_tag "GalenOnlineLogo-medium.png" %></content>
	<content class="hide-for-medium"><%= image_tag "GalenOnlineLogo-small.png" %></content>
	<split class="special-menu">
		<%= link_to "GalenHome", "/", class: "land-link" %>
	</split>
	<split class="special-menu">
		<%= link_to "Blog", posts_blog_path, class: "land-link", style: "width: 100%;" %>
	</split>
</content>
<content class="box nosides">
	<RbigL class="right-line nosides">
		<content class="blog nosides">
			<portal class="blog-container">
				<content>
					<%= link_to @last.title, @last, class: "title" %>
					<info>
						<start class="small-meta">
							<mincontent>
								<% if @last.user.nil? %>
								By Unkown
								<% else %>
								By <%= @last.user.username %>
								<% end %>
							</mincontent>
							<mincontent>
								<%= @last.formatted_created_time %>
							</mincontent>
						</start>
					</info>
				</content>
			</portal>
			<portal class="blog-image" style="background-image: url('<%= @last.main_image %>'); background-size: cover;"></portal>
			<content>
				<portal class="blogbody">
					<%= markdown(truncate(@last.body, length: 400)) %>
				</portal>
			</content>
			<content>
				<%= link_to "Read more", @last %>
			</content>
		</content>
		<content>
			<portal class="blog-container">
				<content class="blog">
					<portal class="blog-container">
						<content class="title">Recent Posts</content>
					</portal>
				</content>
				<% @recents.each do |p| %>
					<content class="blog">
						<portal class="blog-container">
							<card class="summary" style="background-image: url('<%= p.main_image %>'); background-size: cover;">
								<info>
									<%= link_to p.title, p, class: "title" %>
									<start class="small-meta">
										<mincontent>
											<% if p.user.nil? %>
											By Unkown
											<% else %>
											By <%= p.user.username %>
											<% end %>
										</mincontent>
										<mincontent>
											<%= p.formatted_created_time %>
										</mincontent>
									</start>
								</info>
							</card>
						</portal>
					</content>
				<% end %>
			</portal>
			<%= link_to "Previous Posts", posts_all_blog_path %>
		</content>
	</rbigl>
	<RasideR>
		<mincontent>
			<blogabout class="nosides">
				<content class="head">About</content>
				<content class="body"><div style="width: 100%;"><%= image_tag "bbg.jpg", style: "max-width: 50%; max-height: 125px; float: left; margin-right: 16px;" %>Galen is a web developer based in Chicago, as well as a father, retired punk rocker, and a geek about history and the philosophy of psychoanalysis.</div></content>
			</blogabout>
		</mincontent>
	</rasider>
</content>