<%= render 'bloghead' %>
<mincontent class="box nosides">
	<RbigL class="right-line nosides">
		<mincontent class="blog nosides">
			<remin class="blog-container">
				<mincontent class="title"><%= link_to @last.title, @last %></mincontent>
				<info>
					<start class="small-meta">
						<mincontent>
							<% if @last.user.nil? %>
							By Unkown
							<% else %>
							By <%= @last.user.username %>
							<% end %>
						</mincontent>
						<mincontent>
							<%= @last.formatted_created_time %>
						</mincontent>
					</start>
				</info>
			</remin>
			<portal class="blog-image" style="background-image: url('<%= @last.main_image %>'); background-size: cover;"></portal>
			<mincontent>
				<portal class="blogbody">
					<%= markdown(truncate(@last.body, length: 400)) %>
				</portal>
			</mincontent>
			<mincontent>
				<%= link_to "Read more", @last %>
			</mincontent>
		</mincontent>
		<mincontent>
			<portal class="blog-container">
				<mincontent class="blog">
					<portal class="blog-container">
						<mincontent class="title">Recent Posts</mincontent>
					</portal>
				</mincontent>
				<% @recents.each do |p| %>
					<mincontent class="blog">
						<portal class="blog-container">
							<card class="summary" style="background-image: url('<%= p.main_image %>'); background-size: cover;">
								<info>
									<%= link_to p.title, p, class: "title" %>
									<start class="small-meta">
										<mincontent>
											<% if p.user.nil? %>
											By Unkown
											<% else %>
											By <%= p.user.username %>
											<% end %>
										</mincontent>
										<mincontent>
											<%= p.formatted_created_time %>
										</mincontent>
									</start>
								</info>
							</card>
						</portal>
					</mincontent>
				<% end %>
			</portal>
			<%= link_to "Previous Posts", posts_all_blog_path %>
		</mincontent>
	</rbigl>
	<RasideR>
		<mincontent>
			<blogabout class="nosides">
				<mincontent class="head">About</mincontent>
				<mincontent class="body"><div style="width: 100%;"><%= image_tag "bbg.jpg", style: "max-width: 50%; max-height: 125px; float: left; margin-right: 16px;" %>Galen is a web developer based in Chicago, as well as a father, retired punk rocker, and a geek about history and the philosophy of psychoanalysis.</div></mincontent>
			</blogabout>
			<%= react_component 'Bands', recent_bands: @recent_bands, all_bands: @all_bands %>
		</mincontent>
	</rasider>
</mincontent>