<header><h1>The Daily Galen</h1></header>
<main>
	<% @recents.each do |p| %>
		<blogarticle>
			<bloghead>
				<blogtitle>
					<%= p.title.strip %>
				</blogtitle>
				<score>
					<table>
						<tr>
							<td><%= button_to '-1', downvote_post_path(p), method: :post %></td>
							<td><%= p.score %></td>
							<td><%= button_to '+1', upvote_post_path(p), method: :post %></td>
						</tr>
					</table>
				</score>
			</bloghead>
			<author>
				<% if p.user.nil? %>
				By Unkown
				<% else %>
				By <%= p.user.email %>
				<% end %>
			</author>
			<blogbody>
				<%= markdown(p.body) %>
			</blogbody>
			<blogfoot>
				<%= link_to "View #{p.comments.count} Comments", post_path(p) %>
			</blogfoot>
		</blogarticle>
	<% end %>
</main>