<content class="blogtitle">
	<lowthird class="special-menu">
		<%= link_to "GalenHome", "/", class: "land-link" %>
	</lowthird>
	<lowthird>
		<%= image_tag "GalenOnlineLogo-medium.png" %>
	</lowthird>
	<lowthird class="special-menu">
		<%= link_to "Blog", posts_blog_path, class: "land-link" %>
	</lowthird>
</content>
<content class="box nosides">
	<content class="blog nosides">
		<portal class="blog-container">
			<content>
				<%= link_to @post.title, @post, class: "title" %>
				<info>
					<start class="small-meta">
						<mincontent>
							<% if @post.user.nil? %>
							By Unkown
							<% else %>
							By <%= @post.user.username %>
							<% end %>
						</mincontent>
						<mincontent>
							<%= @post.formatted_created_time %>
						</mincontent>
						<table class="voting">
							<tr>
								<td class="upordown"><%= button_to '-1', "/posts/#{@post.id}/downvote", method: :post %></td>
								<td class="score upordown"><%= @post.score %></td>
								<td class="upordown"><%= button_to '+1', "/posts/#{@post.id}/upvote", method: :post %></td>
							</tr>
						</table>
					</start>
				</info>
			</content>
		</portal>
		<portal class="blog-image" style="background-image: url('<%= @last.main_image %>'); background-size: cover;"></portal>
		<content>
			<portal class="blogbody">
				<%= markdown(@post.body) %>
			</portal>
		</content>
		<content class="blogfoot">
			<% if user_signed_in? %>
			<shell>Add a comment</shell>
			<%= form_for ([Comment.new]) do |f| %>
				<shell><%= f.text_area :body %></shell>
				<shell><%= f.submit %></shell>
			<% end %>
			<% else %>
				<shell>You need to <%= link_to 'Sign in', new_user_session_path %> to comment.  <%= link_to 'Sign up', new_user_registration_path %>.</shell>
			<% end %>
		</content>
	</content>
</content>
<hr>
<title class="commenthead"><%= @comments.count %> comments</title>
<% @comments.each do |c| %>
	<content class="outlined blog">
		<portal>
			<rbigl id="comment_<%= c.id %>">
				<portal>
					<%= markdown(c.body) %>
				</portal>
			</rbigl>
			<rasider>
				<right>
					<table class="voting">
						<tr>
							<td class="upordown"><%= button_to '-1', "/posts/#{c.post_id}/comments/#{c.id}/downvote", method: :post %></td>
							<td class="score upordown"><%= c.score %></td>
							<td class="upordown"><%= button_to '+1', "/posts/#{c.post_id}/comments/#{c.id}/upvote", method: :post %></td>
						</tr>
					</table>
				</right>
			</rasider>
		</portal>
		<hr>
		<portal class="small-meta"><%= "Posted by #{c.user.username} at #{c.formatted_created_time}" %></portal>
	</content>
<% end %>