<main>
	<blogarticle>
		<bloghead>
			<blogtitle>
				<%= @post.title.strip %>
			</blogtitle>
			<score>
				<table>
					<tr>
						<td align="center"><%= button_to '-1', downvote_post_path(@post), method: :post %></th>
						<td align="center"><%= @post.score %></th>
						<td align="center"><%= button_to '+1', upvote_post_path(@post), method: :post %></th>
					</tr>
				</table>
			</score>
		</bloghead>
		<author>
			<% if @post.user.nil? %>
			By Unkown
			<% else %>
			By <%= @post.user.email %>
			<% end %>
		</author>
		<blogbody>
			<%= markdown(@post.body) %>
		</blogbody>
		<blogfoot>
			<% if user_signed_in? %>
			<div class="small-12 columns" style="padding-left: 0em;">Add a comment</div>
			<%= form_for ([Comment.new]) do |f| %>
				<div class="small-12 columns" style="padding-left: 0em;"><%= f.text_area :body %></div>
				<div class="small-12 columns" style="padding-left: 0em;"><%= f.submit %></div>
			<% end %>
			<% else %>
				<div class="small-12 columns" stlye="padding-left: 0em;">You need to <%= link_to 'Sign in', new_user_session_path %> to comment.  <%= link_to 'Sign up', new_user_registration_path %>.</div>
			<% end %>
		</blogfoot>
	</blogarticle>
	<commentbox>
		<commenthead><%= @comments.count %> comments</commenthead>
		<% @comments.each do |c| %>
			<commentbody id="comment_<%= c.id %>">
				<%= markdown(c.body) %>
			</commentbody>
			<commentvotes>
				<table>
					<tr>
						<td align="center"><%= button_to '-1', "/posts/#{c.post_id}/comments/#{c.id}/downvote", method: :post %></td>
						<td align="center"><%= c.score %></td>
						<td align="center"><%= button_to '+1', "/posts/#{c.post_id}/comments/#{c.id}/upvote", method: :post %></td>
					</tr>
				</table>
			</commentvotes>
			<commentfoot>
				<div class="flex-grid-column(12)">Posted by <strong><%= c.user.email %> at <%= c.created_at %></strong></div>
			</commentfoot>
		<% end %>
	</commentbox>
</main>