<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : "Galen Online!  Your online home for all things Galen (W)" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <secthead class="show-for-medium">
      <%= image_tag "logo.png", align: "center" %>
    </secthead>
    <%= render 'shared/topmenu' %>
    <secthead class="hide-for-medium">
      <%= image_tag "logo.png", align: "center" %>
    </secthead>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
