<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<ul class="dropdown menu" data-dropdown-menu>
	  <li>
	    <%= link_to "Home", "/" %>
	  </li>
	  <li>
	  	<a href="#">Portfolio</a>
	  		<ul class="menu">
	  			<li><%= link_to "Blog", posts_path %></li>
	  			<li><a href="#">Primaries</a></li>
	  			<li><a href="#">Social metrics</a></li>
	  		</ul>
	  </li>
	  <li><a href="#">Resume</a></li>
	  <li><a href="https://github.com/philhartmanonic">Github</a></li>
	  <li>
	  	<a href="#">Music</a>
	  	<ul class="menu">
	  		<li><a href="http://teatsunami.bandcamp.com/">Tea Tsunami</a></li>
	  		<li><a href="https://www.reverbnation.com/galenwarnerburghardt">Solo</a></li>
	  	</ul>
	  </li>
	</ul>
    <%= yield %>

  </body>
</html>
